{
	"env": {
		"node": true,
		"es6": true,
		"browser": true
	},
	"parser": "babel-eslint",
	"extends": "airbnb/base",
	"rules": {
		"linebreak-style":[0],
		"no-plusplus":[0],
		"no-underscore-dangle":[0],
		"no-tabs":[0],
		"indent":["error","tab"],
		"prefer/default-export":[0],
		"quotes": [
			2,
			"single"
		],
		"semi": 2,
		"arrow-body-style": [
			1,
			"as-needed"
		],
		"comma-dangle": [
			2,
			"never"
		],
		"object-curly-spacing": 0,
		"no-console": 1,
		"no-param-reassign": [
			1,
			{
				"props": false
			}
		],
		"consistent-return": 1
	}
}