/* 引导元素样式 */

.intro-showElement, tr.intro-showElement>td, tr.intro-showElement>th {
	z-index: 9999999 !important;
	position: relative;
}

/* 遮罩层样式 */

.intro-overlay {
	position: absolute;
	visibility: hidden;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	z-index: 99999;
	opacity: 0;
	background: -moz-radial-gradient(center, ellipse farthest-corner, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.9) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0.9)));
	background: -webkit-radial-gradient(center, ellipse farthest-corner, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.9) 100%);
	background: -o-radial-gradient(center, ellipse farthest-corner, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.9) 100%);
	background: -ms-radial-gradient(center, ellipse farthest-corner, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.9) 100%);
	background: radial-gradient(center, ellipse farthest-corner, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.9) 100%);
	-webkit-transition: opacity 0.1s ease-out;
	-moz-transition: opacity 0.1s ease-out;
	-ms-transition: opacity 0.1s ease-out;
	-o-transition: opacity 0.1s ease-out;
	transition: opacity 0.1s ease-out;
}

.intro-overlay.show {
	visibility: visible;
}

/* 高亮层样式 */

.intro-helperLayer {
	box-sizing: content-box;
	position: absolute;
	z-index: 9999998;
	background-color: #FFF;
	background-color: rgba(255, 255, 255, .9);
	border: 1px solid #777;
	border: 1ps solide rgba(0, 0, 0, .5);
	border-radius: 4px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

/* 引导对话框样式 */

/* 定位层 */

.intro-tooltipReferece {
	box-sizing: content-box;
	position: absolute;
	visibility: hidden;
	z-index: 1000000000;
	background-color: transparent;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

/* 对话框层 */

.intro-tooltip {
	box-sizing: content-box;
	position: absolute;
	visibility: visible;
	padding: 10px;
	background-color: #FFF;
	min-width: 200px;
	max-width: 300px;
	border-radius: 3px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
	opacity: 0;
	-webkit-transition: opacity 0.1s ease-out;
	-moz-transition: opacity 0.1s ease-out;
	-ms-transition: opacity 0.1s ease-out;
	-o-transition: opacity 0.1s ease-out;
	transition: opacity 0.1s ease-out
}

.intro-tooltip.show {
	opacity: 1;
}

/* 对话框箭头 */

.intro-arrow {
	content: '';
	border: 5px solid transparent;
	position: absolute;
}

.intro-arrow.top {
	top: -10px;
	left: 10px;
	border-bottom-color: #FFF;
}

.intro-arrow.top-right {
	top: -10px;
	right: 10px;
	border-bottom-color: #FFF;
}

.intro-arrow.top-middle {
	top: -10px;
	left: 50%;
	border-bottom-color: #FFF;
}

.intro-arrow.right {
	top: 10px;
	right: -10px;
	border-left-color: #FFF;
}

.intro-arrow.right-middle {
	top: 50%;
	right: -10px;
	border-left-color: #FFF;
}

/* bullets */

/* buttons */

.intro-tooltipButtons {
	text-align: right;
	white-space: nowrap;
}

.intro-button {
	box-sizing: content-box;
	position: relative;
	overflow: visible;
	display: inline-block;
	padding: 0.3em 0.8em;
	border: 1px solid #d4d4d4;
	margin: 10px 2px 0 0;
	text-decoration: none;
	text-shadow: 1px 1px 0 #fff;
	font-size: 12px;
	color: #333;
	white-space: nowrap;
	cursor: pointer;
	outline: none;
	background-color: #ececec;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
	background-image: -moz-linear-gradient(#f4f4f4, #ececec);
	background-image: -o-linear-gradient(#f4f4f4, #ececec);
	background-image: linear-gradient(#f4f4f4, #ececec);
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	-o-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 0.2em;
}

.intro-button:active {
	box-shadow: 1px 1px 1px #999 inset;
	-moz-box-shadow: 1px 1px 1px #999 inset;
	-webkit-box-shadow: 1px 1px 1px #999 inset;
}

.intro-disabled, .intro-disabled:hover, .intro-disabled:focus {
	color: #9a9a9a;
	border-color: #d4d4d4;
	box-shadow: none;
	cursor: not-allowed;
	background-color: #f4f4f4;
	background-image: none;
	text-decoration: none;
}